<mat-card>
    <mat-action-list>
        <div mat-subheader>Menu</div>
        <button mat-list-item routerLink="/uzytkownik-dashboard"> 
            <mat-icon mat-list-icon>home</mat-icon>Home
        </button>
        <button mat-list-item routerLink="profil"> 
            <mat-icon mat-list-icon>account_circle</mat-icon>Profil
        </button>
        <button mat-list-item routerLink="moje-rezerwacje"> 
            <mat-icon mat-list-icon>calendar_today</mat-icon>Moje rezerwacje
        </button>
        <button mat-list-item> 
            <mat-icon mat-list-icon>settings</mat-icon>Zarządzaj
        </button>
    </mat-action-list>
</mat-card>