<div class="container">
  <h1>Witaj użytkowniku</h1>
      <p id="opi">Potrzebujesz zorganizować imprezę, przeprowadzić konferencję lub po prostu chcesz mieć dla siebie kawałek podłogi? Jeśli tak to dobrze trafiłeś. <br><br>Zarejestruj się i sprawdź naszą szeroką ofertę pomieszczeń do wynajęcia! </p>
    
    <div class="galeria">
      <div class="galeria-left">
        <app-carousel [images]="images" [autoSlide]="true" [controls]="false"></app-carousel>
      </div>
      <div class="galeria-right">
          <div class="oferta">
            <button mat-raised-button color="primary" style="width: 70%; height:40%" *ngIf="isLoggedIn" routerLink="rezerwacja">SPRAWDŹ NASZĄ OFERTĘ!</button>
            <button mat-raised-button color="primary" style="width: 70%; height:40%" *ngIf="!isLoggedIn" routerLink="rejestracja">ZAREJESTRUJ SIĘ, BY POZNAĆ NASZĄ OFERTĘ!</button>
          </div>
      </div>
    </div>
</div>
