<app-glowna-opis></app-glowna-opis>
  <div class="galeria">
      <div class="galeria-left">
        <app-carousel [images]="images" [autoSlide]="true" [controls]="false"></app-carousel>
      </div>
      <div class="galeria-right">
          <div class="oferta">
            <button mat-raised-button color="primary" style="width: 300px; height:100px" *ngIf="isLoggedIn" routerLink="rezerwacja">SPRAWDŹ NASZĄ OFERTĘ!</button>
            <button mat-raised-button color="primary" style="width: 500px; height:100px" *ngIf="!isLoggedIn" routerLink="rejestracja">ZAREJESTRUJ SIĘ, BY POZNAĆ NASZĄ OFERTĘ!</button>
          </div>
      </div>
  </div>
