.galeria{
    width: 100%;
    height: 500px;
    border-radius: 15px;
    box-shadow: 0 8px 16px #dce1e1;
}
.galeria-left{
    width: 50%;
    margin: 0;
    padding: 0;
    height:100%;
    float: left;
}
.galeria-right{
    width: 50%;
    margin: 0;
    padding: 0;
    height: 100%;
    float: left;
}
.oferta{
    position: relative;
    bottom: 50%;
    top: 50%;
    text-align: center;
    justify-content: center;
    font-size: 30px;
}
.container{
    width: 100%;
    height: 50%;
    margin: 0;
    padding: 0;
    border-radius: 15px;
    box-shadow: 0 8px 16px #dce1e1;
    background-color: #eceff1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
p{
    font-size: larger;
    width: 100%;
}
h1{
    background-color: #3f51b5;
    color: white;
    display: block;
    text-align: center;
    width: 13%;
    border-radius: 15px;
}