.galeria{
    width: 100%;
    height: 75%;
    border-radius: 15px;
    box-shadow: 0 8px 16px #dce1e1;
}
.galeria-left{
    width: 50%;
    margin: 0;
    padding: 0;
    height:100%;
    float: left;
}
.galeria-right{
    width: 50%;
    margin: 0;
    padding: 0;
    height: 100%;
    float: left;
}
.oferta{
    position: relative;
    bottom: 50%;
    top: 50%;
    text-align: center;
    justify-content: center;
    font-size: 30px;
}
.container{
    width: 100%;
    height: 700px;
    margin: 0;
    padding: 0;
    border-radius: 15px;
    box-shadow: 0 8px 16px #dce1e1;
    background-color: #eceff1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
p{
    font-size: larger;
    width: 100%;
    height: 15%;
    letter-spacing: 2px;
}
h1{
    text-align: center;
    font-size: 40px;
    border: white 2px;
    background-color: #3f51b5;
    color:#dce1e1 ;
    border-radius: 30px;
    min-height: 42px;
    font-weight: bold;
    padding-top: 2px;
}
#opi{
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #3f51b5;
    text-align: center;
}



