<mat-toolbar color="primary">
      <button mat-button routerLink="">STRONA GŁÓWNA</button>
      <button mat-button routerLink="rezerwacja" *ngIf="isLoggedIn">REZERWACJA</button>
      <button mat-button routerLink="kontakt">KONTAKT</button>
      <button mat-button routerLink="regulamin">REGULAMIN</button>
      <span class="example-spacer" *ngIf="!isLoggedIn"></span>
      <button mat-raised-button routerLink="logowanie" *ngIf="!isLoggedIn">LOGOWANIE</button>
      <button mat-stroked-button routerLink="rejestracja" *ngIf="!isLoggedIn">REJESTRACJA</button>
      <span class="example-spacer" *ngIf="isLoggedIn"></span>
      <button mat-button *ngIf='isLoggedIn && this.login.getUserRole()=="ADMIN"' routerLink='admin/profil'><mat-icon>account_circle</mat-icon>
        Witaj {{login.getUser().imie}} {{login.getUser().nazwisko}}!
      </button>
      <button mat-button *ngIf='isLoggedIn && this.login.getUserRole()=="USER"' routerLink='uzytkownik-dashboard/profil'><mat-icon>account_circle</mat-icon>
        Witaj {{login.getUser().imie}} {{login.getUser().nazwisko}}!
      </button>
      <button mat-raised-button (click)="wyloguj()" *ngIf="isLoggedIn && user" color="warn">WYLOGUJ SIĘ!</button>
  
  </mat-toolbar>
