mat-card
{
    border: 10px;
    margin-bottom: 15px;
}
.opis{
    display: flex;
    justify-content: space-between;
}
.my-pagination{
    text-align: center;
    padding: 25px;
    font-weight: 500;
}