<mat-card class="mt10" *ngFor="let s of sale |  paginate: { itemsPerPage: 3, currentPage: page, totalItems:totalLenght}">
    <mat-card-header>
        <mat-card-title>
            {{s.nazwa}}
        </mat-card-title>
    </mat-card-header>
    <mat-card-subtitle>
        <p>Adres: {{s.miasto}} {{s.kodPocztowy}}, {{s.ulica}} {{s.numer}}</p>
    </mat-card-subtitle>
    <mat-card-subtitle>
        <p>Typ Pomieszczenia: {{s.typ}}</p>
    </mat-card-subtitle>
    <mat-card-content>
        <div class="opis">
        <p class="item">{{s.opis}}</p>
        <img class="item" mat-card-lg-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
        </div>
    </mat-card-content>
    
    <mat-card-actions align="end">
        <button mat-raised-button color="primary">
            <mat-icon>settings</mat-icon> Zarządzaj
        </button>
    </mat-card-actions>
</mat-card>
<pagination-controls class="my-pagination" previousLabel="Następna" nextLabel="Poprzednia" (pageChange)="page = $event"></pagination-controls>



